<section *ngIf="project$ | async as project" class="page">
  <header class="page__title">
      <div class="grid">
          <div class="grid__row">
              <div class="grid__col grid__col--md-12">
                  <h1>{{ project.title }}</h1>
                  <p>Launched in <time [attr.datetime]="project.year">{{ project.year }}</time>.</p>
              </div>
          </div>
      </div>
  </header>
  <div class="page__body blue-pattern">
      <div class="grid">
          <div class="grid__row">
              <div class="grid__col grid__col--md-6 grid__col--md-offset-3">
                  <article>
                      <figure>
                        <ng-container *ngIf="project.url; else elseTemplate">
                          <a href="{{ project.url }}" target="_blank"><img src="{{ project.image }}" [attr.alt]="project.title"></a>
                        </ng-container>
                        <ng-template #elseTemplate>
                            <img src="{{ project.image }}" [attr.alt]="project.title">
                        </ng-template>

                      </figure>
                      <div [innerHTML]="project.content"></div>
                      <p *ngIf="project.url"><a href="{{ project.url }}" target="_blank" class="btn btn--primary btn--inline">View Live Code</a></p>
                  </article>
              </div>
          </div>
      </div>
  </div>
</section>
