<section class="page__title">
  <div class="grid">
      <div class="grid__row">
          <div class="grid__col grid__col--md-12">
              <h1>About</h1>
          </div>
      </div>
  </div>
</section>

<section class="page__body blue-pattern">
  <div class="grid">
      <div class="grid__row">
          <div class="grid__col grid__col--md-8">
              <h2>Background</h2>
              <p>I am a professional Web Developer specializing in Dynamic Web Application Development and Front-end Website Design. I offer a unique blend of technical expertise, creativity and marketing experience that produce effective user experience across a multitude of devices.</p>
              <p>I am loyal, personable, and a dedicated individual with the ability to quickly establish strong working relationships. You may find more information about my 12+ years of web development experience by viewing <a href="/assets/docs/cwoodley_resume.pdf" target="_blank">my resumé</a>.</p>

              <h2>Hire Me</h2>
              <p>Have questions? Please <a href="#" appEmailLink>contact me</a>.</p>
          </div>
          <aside class="grid__col grid__col--md-4">
              <img src="/assets/img/me.jpg" alt="">
              <h3 class="white-text">Resumé</h3>
              <ul class="block list-reset">
                  <li class="block__item"><a href="/assets/docs/cwoodley_resume.pdf" target="_blank"><i class="far fa-file-pdf fa-3x"></i></a></li>
                  <li class="block__item"><a href="/assets/docs/cwoodley_resume.docx"><i class="far fa-file-word fa-3x"></i></a></li>
              </ul>
          </aside>
      </div>
  </div>
</section>

