@font-face {
    font-family: 'robotolight';
    src: url('../assets/fonts/roboto/light/Roboto-Light-webfont.eot');
    src: url('../assets/fonts/roboto/light/Roboto-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/roboto/light/Roboto-Light-webfont.woff') format('woff'),
         url('../assets/fonts/roboto/light/Roboto-Light-webfont.ttf') format('truetype'),
         url('../assets/fonts/roboto/light/Roboto-Light-webfont.svg#robotolight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotothin';
    src: url('../assets/fonts/roboto/thin/Roboto-Thin-webfont.eot');
    src: url('../assets/fonts/roboto/thin/Roboto-Thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/roboto/thin/Roboto-Thin-webfont.woff') format('woff'),
         url('../assets/fonts/roboto/thin/Roboto-Thin-webfont.ttf') format('truetype'),
         url('../assets/fonts/roboto/thin/Roboto-Thin-webfont.svg#robotothin') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'roboto_slablight';
    src: url('../assets/fonts/roboto-slab/light/RobotoSlab-Light-webfont.eot');
    src: url('../assets/fonts/roboto-slab/light/RobotoSlab-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/roboto-slab/light/RobotoSlab-Light-webfont.woff') format('woff'),
         url('../assets/fonts/roboto-slab/light/RobotoSlab-Light-webfont.ttf') format('truetype'),
         url('../assets/fonts/roboto-slab/light/RobotoSlab-Light-webfont.svg#roboto_slablight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'roboto_slabthin';
    src: url('../assets/fonts/roboto-slab/thin/RobotoSlab-Thin-webfont.eot');
    src: url('../assets/fonts/roboto-slab/thin/RobotoSlab-Thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/roboto-slab/thin/RobotoSlab-Thin-webfont.woff') format('woff'),
         url('../assets/fonts/roboto-slab/thin/RobotoSlab-Thin-webfont.ttf') format('truetype'),
         url('../assets/fonts/roboto-slab/thin/RobotoSlab-Thin-webfont.svg#roboto_slabthin') format('svg');
    font-weight: normal;
    font-style: normal;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

html,
body {
    height: 100%;
}

html {
    font-size: 100%; /* (16 / 16) * 100 = 100 */
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: sans-serif;
    font-weight: normal;
    line-height: 1.5;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 1.125rem;
}

p,
pre,
h1,
h2,
h3,
h4,
h5,
h6 {
    text-rendering: optimizeLegibility;
}

p,
pre {
    margin: 0 0 1.5em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
    font-style: normal;
    color: inherit;
    margin-top: 0;
}

h1,
.h1 {
    font-size: 2.5714285714285716rem; /* 36 / 14 = 2.5714285714285716 */
    line-height: 1.1666666666666665; /* (1.5 / 2.5714285714285716) * 2 = 1.1666666666666665 */
    margin-bottom: .5833333333333333em; /* (1.5 / 2.5714285714285716) * 1 = 0.5833333333333333 */
}

h2,
.h2 {
    font-size: 1.857142857142857rem; /* 26 / 14 = 1.8571428571428572 */
    line-height: 1.615384615384615; /* (1.5 / 1.8571428571428572) * 2 = 1.6153846153846154 */
    margin-bottom: 0;
}

h3,
.h3 {
    font-size: 1.5714285714285714rem; /* 22 / 14 = 1.5714285714285714 */
    line-height: 1.9090909090909092; /* (1.5 / 1.5714285714285714) * 2 = 1.9090909090909092 */
    margin-bottom: 0;
}

h4,
.h4 {
    font-size: 1.142857142857143rem; /* 16 / 14 = 1.1428571428571428 */
    font-style: italic;
    line-height: 1.3125; /* (1.5 / 1.1428571428571428) * 1 = 1.3125 */
    margin-bottom: 1.3125em; /* (1.5 / 1.1428571428571428) * 1 = 1.3125 */
}

h5,
.h5 {
    font-size: 1rem; /* 14 / 14 = 1 */
    font-weight: bold;
    line-height: 1.5; /* (1.5 / 1) * 1 = 1.5 */
    margin-bottom: 1.5em; /* (1.5 / 1) * 1 = 1.5 */
}

h6,
.h6 {
    font-size: .714285714285714rem; /* 10 / 14 = 0.7142857142857143 */
    line-height: 2.1; /* (1.5 / 0.7142857142857143) * 1 = 2.1 */
    margin-bottom: 2.1em;
    text-transform: uppercase;
}

a:link,
a:visited {
    color: #2bd97f;
}

a:hover,
a:active {
    color: #ffb866;
    outline: 0;
}

hr {
    display: block;
    height: 0;
    margin-top: 1.5em;
    margin-bottom: 1.428571428571429em;
    padding: 0;
    border: 0;
    border-top: 1px solid #ccc;
}

ul,
ol {
    margin: 0 0 1.5em;
    padding: 0 0 0 1.5em;
}

li ul,
li ol {
    margin-bottom: 0;
}

dl {
    margin: 0 0 1.5em;
}

dt {
    font-weight: bold;
}

dd {
    margin: 0 0 0 1em;
}

dd + dt {
    margin-top: 1.5em;
}

blockquote {
    margin: 1.5em 1em;
    padding-left: 1em;
    quotes: '\201C''\201D''\2018''\2019';
    border-left: 4px solid #ccc;
}

blockquote > p {
    display: inline;
}

blockquote cite {
    display: block;
    color: #666;
}

b,
strong,
em,
i {
    line-height: 1;
}

code,
kbd,
pre,
samp {
    font-family: 'Courier New', Courier, 'Lucida Sans Typewriter', 'Lucida Typewriter', monospace;
}

p code,
p kbd,
p samp,
ul code,
ul kbd,
ul samp {
    font-size: .9rem;
    padding: .25em .5em;
    white-space: nowrap;
    color: #f92672;
    border-radius: 3px;
    background: #efefef;
}

mark {
    color: #000;
    background: #ffdc00;
}

q {
    quotes: '\201C' '\201D';
}

abbr {
    cursor: help;
    text-transform: uppercase;
}

abbr[title] {
    text-decoration: none;
    border-bottom: 1px dotted;
}

small {
    font-size: .8rem;
}

sub,
sup {
    font-size: .8rem;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -.5em;
}

sub {
    bottom: -.25em;
}

address {
    font-style: normal;
    margin: 1.5em 0;
    color: #666;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

img {
    max-width: 100%;
    height: auto;
    -ms-interpolation-mode: bicubic;
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: crisp-edges;
}

a img {
    border: 0;
}

figure {
    margin: 1.428571428571429rem;
    padding: 1.5rem;
    text-align: center;
    border-top: 1px dotted #ccc;
    border-bottom: 1px dotted #ccc;
}

figcaption {
    font-size: .8rem;
    line-height: 1.875;
}

table {
    width: 100%;
    margin: 0 0 1.5em;
    border-spacing: 0;
    border-collapse: collapse;
}

td,
th {
    padding: 1.5em .75em;
    vertical-align: top;
}

th {
    font-weight: bold;
    text-align: center;
    background: #ccc;
}

td + td {
    border-left: 1px solid #ccc;
}

tr:nth-child(odd) td {
    background: #efefef;
}

tr:nth-child(even) td {
    background: #fff;
}

caption,
tfoot td {
    font-size: .8rem;
    font-style: italic;
    line-height: 1.875;
    padding-top: .9375em;
    padding-bottom: .9375em;
    text-align: center;
}

caption {
    border-top: 1px solid #ccc;
}

tfoot tr:first-child td {
    border-bottom: 1px solid #ccc;
    background: transparent;
}

fieldset {
    margin: 0 0 1.3571428571428572em;
    padding: 1.5em;
    border: 1px solid #ccc;
}

legend {
    margin-left: -.5em;
    padding: 0 .5em;
    text-transform: uppercase;
    color: #ccc;
}

button,
input,
optgroup,
select,
textarea {
    font-size: inherit;
    color: inherit;
}

button,
input[type='button'],
input[type='submit'],
input[type='reset'] {
    height: 2.25rem;
    margin-bottom: .75rem;
    padding: 0 1.5rem;
    cursor: pointer;
}

button[disabled],
input[disabled] {
    cursor: default;
    color: #666;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    padding: 0;
    border: 0;
}

input[type='date'],
input[type='datetime'],
input[type='datetime-local'],
input[type='email'],
input[type='month'],
input[type='number'],
input[type='password'],
input[type='search'],
input[type='tel'],
input[type='text'],
input[type='time'],
input[type='url'],
input[type='week'] {
    display: block;
    width: 100%;
    height: 2.25rem;
    margin-bottom: .75rem;
    padding: 0 .5rem;
    border: 1px solid #ccc;
    outline: 0;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, .1);
}

input[type='date']:focus,
input[type='datetime']:focus,
input[type='datetime-local']:focus,
input[type='email']:focus,
input[type='month']:focus,
input[type='number']:focus,
input[type='password']:focus,
input[type='search']:focus,
input[type='tel']:focus,
input[type='text']:focus,
input[type='time']:focus,
input[type='url']:focus,
input[type='week']:focus {
    border-color: #2980b9;
    box-shadow: none;
}

input[type='checkbox'],
input[type='radio'] {
    width: 1rem;
    height: 1rem;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
    height: auto;
}

input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-decoration {
    -webkit-appearance: none;
}

label {
    font-weight: bold;
    display: block;
}

label input,
label select,
label textarea {
    font-weight: normal;
}

textarea {
    display: block;
    overflow: auto;
    width: 100%;
    height: auto;
    min-height: 6rem;
    resize: vertical;
    border: 1px solid #ccc;
    outline: 0;
    box-shadow: inset 0 2px 5px rgba(0, 0, 0 .25);
}

textarea:focus {
    border: 1px solid #2980b9;
    box-shadow: none;
}

textarea[rows] {
    height: auto;
}

textarea[contenteditable] {
    -webkit-appearance: none;
}

optgroup {
    font-weight: bold;
}

select {
    display: block;
    width: 100%;
    height: 2.25rem;
    margin-bottom: .75rem;
    border: 1px solid #ccc;
    outline: 0;
}

select:hover {
    border-color: #2980b9;
    background-color: #b3d4fc;
}

select[multiple] {
    height: 6rem;
}

/* 800 and up */
@media screen and (min-width:50em) {
    html {
        font-size: 100%;
    }

    textarea[cols] {
        width: auto;
    }

    input[type='date'],
    input[type='datetime'],
    input[type='datetime-local'],
    input[type='email'],
    input[type='month'],
    input[type='number'],
    input[type='password'],
    input[type='search'],
    input[type='tel'],
    input[type='text'],
    input[type='time'],
    input[type='url'],
    input[type='week'] {
        display: inline-block;
        width: auto;
    }

    select {
        display: inline-block;
        width: auto;
    }

    select[multiple] {
        display: block;
    }

    label {
        display: inline-block;
    }

}
