/*============================================================================
=            Button Styles for Extra Small Screens - 320px and up            =
============================================================================*/

.btn {
    font-size: inherit;
    font-weight: 400;
    line-height: 1;

    display: block;

    width: 100%;
    height: 3rem;
    margin-bottom: .75rem;
    padding: .75em 1.5em;

    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    -webkit-transition: background-color .125s ease-out, color .125s ease-out;
            transition: background-color .125s ease-out, color .125s ease-out;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    text-decoration: none;

    border: 1px solid transparent;
    background-image: none;

    -ms-touch-action: manipulation;
        touch-action: manipulation;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
}

.btn > :first-child {
    display: inline-block;

    vertical-align: top;
}

.btn:active {
    box-shadow: inset 0 2px 4px rgba(0,0,0,.2);
}

p > a.btn {
    margin-bottom: 0;
}


/*----------  Button Corner Styles  ----------*/

.btn--radius {
    border-radius: 4px;
}

.btn--round {
    border-radius: 20px;
}


/*----------  Default Button Styles  ----------*/

.btn--default,
.btn--default:link,
.btn--default:visited {
    color: #525252;
    border-color: #d9d9d9;
    background-color: #eee;
}

.btn--default:hover,
.btn--default:focus {
    color: #525252;
    border-color: #9e9e9e;
    background-color: #d9d9d9;
}

.btn--default:focus {
    outline: none;
}


/*----------  Primary Button Styles  ----------*/

.btn--primary,
.btn--primary:link,
.btn--primary:visited {
    color: #2bd97f;
    border-color: #3C4757;
    background-color: #475466;
}

.btn--primary:hover,
.btn--primary:focus {
    color: #475466;
    border-color: #EDAC66;
    background-color: #FDB76D;
}

.btn--primary:focus {
    outline: none;
}



/*----------  Button Outline Styles  ----------*/

.btn--primary-o,
.btn--primary-o:link,
.btn--primary-o:visited,
.btn--primary-o:hover,
.btn--primary-o:focus,
.btn--default-o,
.btn--default-o:link,
.btn--default-o:visited,
.btn--default-o:hover,
.btn--default-o:focus {
    background-color: transparent;
}

.btn--default-o:focus,
.btn--primary-o:focus {
    outline: none;
}

.btn--default-o,
.btn--default-o:link,
.btn--default-o:visited {
    color: #737373;
    border-color: #737373;
}

.btn--default-o:hover,
.btn--default-o:focus {
    color: #262626;
    border-color: #262626;
}

.btn--primary-o,
.btn--primary-o:link,
.btn--primary-o:visited {
    color: #3c4757;
    border-color: #3c4757;
}

.btn--primary-o:hover,
.btn--primary-o:focus {
    color: #0c3052;
    border-color: #0c3052;
}


.btn--inline {
    display: inline-block;

    width: auto;
}

.btn--block {
    display: block;

    width: 100%;
}


/*======================================================================
=            Button Styles for Small Screens - 425px and Up            =
======================================================================*/

@media screen and (min-width: 26.5625em) {
    .btn--sm-inline {
        display: inline-block;

        width: auto;
    }

    .btn--sm-block {
        display: block;

        width: 100%;
    }
}

/*=======================================================================
=            Button Styles for Medium Screens - 768px and Up            =
=======================================================================*/

@media screen and (min-width: 48em) {
    .btn--md-inline {
        display: inline-block;

        width: auto;
    }

    .btn--md-block {
        display: block;

        width: 100%;
    }
}


/*=======================================================================
=            Button Styles for Large Screens - 1024px and Up            =
=======================================================================*/

@media screen and (min-width: 64em) {
    .btn--lg-inline {
        display: inline-block;

        width: auto;
    }

    .btn--lg-block {
        display: block;

        width: 100%;
    }
}


/*=============================================================================
=            Button Styles for Extra Large Screens - 1200px and up            =
=============================================================================*/

@media screen and (min-width: 75em) {
    .btn--xlg-inline {
        display: inline-block;

        width: auto;
    }

    .btn--xlg-block {
        display: block;

        width: 100%;
    }
}