/*==================================================================
=            Grid Module Styles for Extra Small Screens            =
==================================================================*/

.grid {
    width: 90%;
    margin-right: auto;
    margin-left: auto;
}

.grid__row {
    margin: 0 -.75rem;
}

.grid__col {
    min-height: 1px;
    padding: 0 .75rem;
}


/*==========================================================================
=            Grid Module Styles for Small Screens - 425px an up            =
==========================================================================*/

@media screen and (min-width: 26.5625em) {
    /*----------  Grid Styles  ----------*/

    .grid {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;

        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    }

    .grid__row {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;

        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    }

    .grid__col {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    }



    /*----------  Grid Column Alignment and Spacing  ----------*/

    .grid__row--sm-center {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

    .grid__row--sm-right {
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end;
    }

    .grid__row--sm-top {
        -webkit-box-align: start;
        -ms-flex-align: start;
        -ms-grid-row-align: flex-start;
        align-items: flex-start;
    }

    .grid__row--sm-middle {
        -webkit-box-align: center;
        -ms-flex-align: center;
        -ms-grid-row-align: center;
        align-items: center;
    }

    .grid__row--sm-bottom {
        -webkit-box-align: end;
        -ms-flex-align: end;
        -ms-grid-row-align: flex-end;
        align-items: flex-end;
    }

    .grid__row--sm-between {
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }

    .grid__row--sm-around {
        -ms-flex-pack: distribute;
        justify-content: space-around;
    }


    /*----------  Grid Column Widths and Offsets  ----------*/

    .grid__col--sm-a {
        -webkit-box-flex: 1;
        -ms-flex: 1 0 auto;
            flex: 1 0 auto;
    }

    .grid__col--sm-1 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 8.333333333333332%;
            flex: 0 0 8.333333333333332%;
    }

    .grid__col--sm-offset-1 {
        margin-left: 8.333333333333332%;
    }

    .grid__col--sm-2 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 16.66666666666667%;
            flex: 0 0 16.66666666666667%;
    }

    .grid__col--sm-offset-2 {
        margin-left: 16.66666666666667%;
    }

    .grid__col--sm-3 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
    }

    .grid__col--sm-offset-3 {
        margin-left: 25%;
    }

    .grid__col--sm-4 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 33.33333333333333%;
            flex: 0 0 33.33333333333333%;
    }

    .grid__col--sm-offset-4 {
        margin-left: 33.33333333333333%;
    }

    .grid__col--sm-5 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 41.66666666666667%;
            flex: 0 0 41.66666666666667%;
    }

    .grid__col--sm-offset-5 {
        margin-left: 41.66666666666667%;
    }

    .grid__col--sm-6 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    }

    .grid__col--sm-offset-6 {
        margin-left: 50%;
    }

    .grid__col--sm-7 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 58.333333333333336%;
            flex: 0 0 58.333333333333336%;
    }

    .grid__col--sm-offset-7 {
        margin-left: 58.333333333333336%;
    }

    .grid__col--sm-8 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 66.66666666666666%;
            flex: 0 0 66.66666666666666%;
    }

    .grid__col--sm-offset-8 {
        margin-left: 66.66666666666666%;
    }

    .grid__col--sm-9 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 75%;
            flex: 0 0 75%;
    }

    .grid__col--sm-offset-9 {
        margin-left: 75%;
    }

    .grid__col--sm-10 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 83.33333333333334%;
            flex: 0 0 83.33333333333334%;
    }

    .grid__col--sm-offset-10 {
        margin-left: 83.33333333333334%;
    }

    .grid__col--sm-11 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 91.66666666666666%;
            flex: 0 0 91.66666666666666%;
    }

    .grid__col--sm-offset-11 {
        margin-left: 91.66666666666666%;
    }

    .grid__col--sm-12 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    }


    /*----------  Grid Row Ordering  ----------*/

    .grid--sm-reverse {
            flex-direction: column-reverse;

        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
    }

    .grid__row--sm-order-1 {
        -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
        order: 1;
    }

    .grid__row--sm-order-2 {
        -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
        order: 2;
    }

    .grid__row--sm-order-3 {
        -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
        order: 3;
    }

    .grid__row--sm-order-4 {
        -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
        order: 4;
    }

    .grid__row--sm-order-5 {
        -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
        order: 5;
    }

    .grid__row--sm-order-6 {
        -webkit-box-ordinal-group: 7;
        -ms-flex-order: 6;
        order: 6;
    }

    .grid__row--sm-order-7 {
        -webkit-box-ordinal-group: 8;
        -ms-flex-order: 7;
        order: 7;
    }

    .grid__row--sm-order-8 {
        -webkit-box-ordinal-group: 9;
        -ms-flex-order: 8;
        order: 8;
    }

    .grid__row--sm-order-9 {
        -webkit-box-ordinal-group: 10;
        -ms-flex-order: 9;
        order: 9;
    }

    .grid__row--sm-order-10 {
        -webkit-box-ordinal-group: 11;
        -ms-flex-order: 10;
        order: 10;
    }

    .grid__row--sm-order-11 {
        -webkit-box-ordinal-group: 12;
        -ms-flex-order: 11;
        order: 11;
    }

    .grid__row--sm-order-12 {
        -webkit-box-ordinal-group: 13;
        -ms-flex-order: 12;
        order: 12;
    }


    /*----------  Grid Column Ordering  ----------*/

    .grid__row--sm-reverse {
            flex-direction: row-reverse;

        -webkit-box-orient: horizontal;
        -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
    }

    .grid__col--sm-order-1 {
        -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
        order: 1;
    }

    .grid__col--sm-order-2 {
        -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
        order: 2;
    }

    .grid__col--sm-order-3 {
        -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
        order: 3;
    }

    .grid__col--sm-order-4 {
        -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
        order: 4;
    }

    .grid__col--sm-order-5 {
        -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
        order: 5;
    }

    .grid__col--sm-order-6 {
        -webkit-box-ordinal-group: 7;
        -ms-flex-order: 6;
        order: 6;
    }

    .grid__col--sm-order-7 {
        -webkit-box-ordinal-group: 8;
        -ms-flex-order: 7;
        order: 7;
    }

    .grid__col--sm-order-8 {
        -webkit-box-ordinal-group: 9;
        -ms-flex-order: 8;
        order: 8;
    }

    .grid__col--sm-order-9 {
        -webkit-box-ordinal-group: 10;
        -ms-flex-order: 9;
        order: 9;
    }

    .grid__col--sm-order-10 {
        -webkit-box-ordinal-group: 11;
        -ms-flex-order: 10;
        order: 10;
    }

    .grid__col--sm-order-11 {
        -webkit-box-ordinal-group: 12;
        -ms-flex-order: 11;
        order: 11;
    }

    .grid__col--sm-order-12 {
        -webkit-box-ordinal-group: 13;
        -ms-flex-order: 12;
        order: 12;
    }
}


/*============================================================================
=            Grid Module Styles for Medium Screens - 768px and up            =
============================================================================*/

@media screen and (min-width: 48em) {
    /*----------  Grid Column Alignment and Spacing  ----------*/

    .grid__row--md-center {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

    .grid__row--md-right {
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end;
    }

    .grid__row--md-top {
        -webkit-box-align: start;
        -ms-flex-align: start;
        -ms-grid-row-align: flex-start;
        align-items: flex-start;
    }

    .grid__row--md-middle {
        -webkit-box-align: center;
        -ms-flex-align: center;
        -ms-grid-row-align: center;
        align-items: center;
    }

    .grid__row--md-bottom {
        -webkit-box-align: end;
        -ms-flex-align: end;
        -ms-grid-row-align: flex-end;
        align-items: flex-end;
    }

    .grid__row--md-between {
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }

    .grid__row--md-around {
        -ms-flex-pack: distribute;
        justify-content: space-around;
    }


    /*----------  Grid Column Widths and Offsets  ----------*/

    .grid__col--md-a {
        -webkit-box-flex: 1;
        -ms-flex: 1 0 auto;
            flex: 1 0 auto;
    }

    .grid__col--md-1 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 8.333333333333332%;
            flex: 0 0 8.333333333333332%;
    }

    .grid__col--md-offset-1 {
        margin-left: 8.333333333333332%;
    }

    .grid__col--md-2 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 16.66666666666667%;
            flex: 0 0 16.66666666666667%;
    }

    .grid__col--md-offset-2 {
        margin-left: 16.66666666666667%;
    }

    .grid__col--md-3 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
    }

    .grid__col--md-offset-3 {
        margin-left: 25%;
    }

    .grid__col--md-4 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 33.33333333333333%;
            flex: 0 0 33.33333333333333%;
    }

    .grid__col--md-offset-4 {
        margin-left: 33.33333333333333%;
    }

    .grid__col--md-5 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 41.66666666666667%;
            flex: 0 0 41.66666666666667%;
    }

    .grid__col--md-offset-5 {
        margin-left: 41.66666666666667%;
    }

    .grid__col--md-6 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    }

    .grid__col--md-offset-6 {
        margin-left: 50%;
    }

    .grid__col--md-7 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 58.333333333333336%;
            flex: 0 0 58.333333333333336%;
    }

    .grid__col--md-offset-7 {
        margin-left: 58.333333333333336%;
    }

    .grid__col--md-8 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 66.66666666666666%;
            flex: 0 0 66.66666666666666%;
    }

    .grid__col--md-offset-8 {
        margin-left: 66.66666666666666%;
    }

    .grid__col--md-9 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 75%;
            flex: 0 0 75%;
    }

    .grid__col--md-offset-9 {
        margin-left: 75%;
    }

    .grid__col--md-10 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 83.33333333333334%;
            flex: 0 0 83.33333333333334%;
    }

    .grid__col--md-offset-10 {
        margin-left: 83.33333333333334%;
    }

    .grid__col--md-11 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 91.66666666666666%;
            flex: 0 0 91.66666666666666%;
    }

    .grid__col--md-offset-11 {
        margin-left: 91.66666666666666%;
    }

    .grid__col--md-12 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    }


    /*----------  Grid Row Ordering  ----------*/

    .grid--md-reverse {
            flex-direction: column-reverse;

        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
    }

    .grid__row--md-order-1 {
        -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
        order: 1;
    }

    .grid__row--md-order-2 {
        -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
        order: 2;
    }

    .grid__row--md-order-3 {
        -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
        order: 3;
    }

    .grid__row--md-order-4 {
        -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
        order: 4;
    }

    .grid__row--md-order-5 {
        -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
        order: 5;
    }

    .grid__row--md-order-6 {
        -webkit-box-ordinal-group: 7;
        -ms-flex-order: 6;
        order: 6;
    }

    .grid__row--md-order-7 {
        -webkit-box-ordinal-group: 8;
        -ms-flex-order: 7;
        order: 7;
    }

    .grid__row--md-order-8 {
        -webkit-box-ordinal-group: 9;
        -ms-flex-order: 8;
        order: 8;
    }

    .grid__row--md-order-9 {
        -webkit-box-ordinal-group: 10;
        -ms-flex-order: 9;
        order: 9;
    }

    .grid__row--md-order-10 {
        -webkit-box-ordinal-group: 11;
        -ms-flex-order: 10;
        order: 10;
    }

    .grid__row--md-order-11 {
        -webkit-box-ordinal-group: 12;
        -ms-flex-order: 11;
        order: 11;
    }

    .grid__row--md-order-12 {
        -webkit-box-ordinal-group: 13;
        -ms-flex-order: 12;
        order: 12;
    }


    /*----------  Grid Column Ordering  ----------*/

    .grid__row--md-reverse {
            flex-direction: row-reverse;

        -webkit-box-orient: horizontal;
        -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
    }

    .grid__col--md-order-1 {
        -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
        order: 1;
    }

    .grid__col--md-order-2 {
        -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
        order: 2;
    }

    .grid__col--md-order-3 {
        -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
        order: 3;
    }

    .grid__col--md-order-4 {
        -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
        order: 4;
    }

    .grid__col--md-order-5 {
        -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
        order: 5;
    }

    .grid__col--md-order-6 {
        -webkit-box-ordinal-group: 7;
        -ms-flex-order: 6;
        order: 6;
    }

    .grid__col--md-order-7 {
        -webkit-box-ordinal-group: 8;
        -ms-flex-order: 7;
        order: 7;
    }

    .grid__col--md-order-8 {
        -webkit-box-ordinal-group: 9;
        -ms-flex-order: 8;
        order: 8;
    }

    .grid__col--md-order-9 {
        -webkit-box-ordinal-group: 10;
        -ms-flex-order: 9;
        order: 9;
    }

    .grid__col--md-order-10 {
        -webkit-box-ordinal-group: 11;
        -ms-flex-order: 10;
        order: 10;
    }

    .grid__col--md-order-11 {
        -webkit-box-ordinal-group: 12;
        -ms-flex-order: 11;
        order: 11;
    }

    .grid__col--md-order-12 {
        -webkit-box-ordinal-group: 13;
        -ms-flex-order: 12;
        order: 12;
    }
}


/*============================================================================
=            Grid Module Styles for Large Screens - 1024px and up            =
============================================================================*/

@media screen and (min-width:64em) {
    /*----------  Grid Wrapper  ----------*/
    .grid {
        width: 100%;
        max-width: 960px;
    }

    /*----------  Grid Column Alignment and Spacing  ----------*/
    .grid__row--lg-center {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

    .grid__row--lg-right {
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end;
    }

    .grid__row--lg-top {
        -webkit-box-align: start;
        -ms-flex-align: start;
        -ms-grid-row-align: flex-start;
        align-items: flex-start;
    }

    .grid__row--lg-middle {
        -webkit-box-align: center;
        -ms-flex-align: center;
        -ms-grid-row-align: center;
        align-items: center;
    }

    .grid__row--lg-bottom {
        -webkit-box-align: end;
        -ms-flex-align: end;
        -ms-grid-row-align: flex-end;
        align-items: flex-end;
    }

    .grid__row--lg-between {
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }

    .grid__row--lg-around {
        -ms-flex-pack: distribute;
        justify-content: space-around;
    }


    /*----------  Grid Column Widths and Offsets  ----------*/

    .grid__col--lg-a {
        -webkit-box-flex: 1;
        -ms-flex: 1 0 auto;
            flex: 1 0 auto;
    }

    .grid__col--lg-1 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 8.333333333333332%;
            flex: 0 0 8.333333333333332%;
    }

    .grid__col--lg-offset-1 {
        margin-left: 8.333333333333332%;
    }

    .grid__col--lg-2 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 16.66666666666667%;
            flex: 0 0 16.66666666666667%;
    }

    .grid__col--lg-offset-2 {
        margin-left: 16.66666666666667%;
    }

    .grid__col--lg-3 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
    }

    .grid__col--lg-offset-3 {
        margin-left: 25%;
    }

    .grid__col--lg-4 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 33.33333333333333%;
            flex: 0 0 33.33333333333333%;
    }

    .grid__col--lg-offset-4 {
        margin-left: 33.33333333333333%;
    }

    .grid__col--lg-5 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 41.66666666666667%;
            flex: 0 0 41.66666666666667%;
    }

    .grid__col--lg-offset-5 {
        margin-left: 41.66666666666667%;
    }

    .grid__col--lg-6 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    }

    .grid__col--lg-offset-6 {
        margin-left: 50%;
    }

    .grid__col--lg-7 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 58.333333333333336%;
            flex: 0 0 58.333333333333336%;
    }

    .grid__col--lg-offset-7 {
        margin-left: 58.333333333333336%;
    }

    .grid__col--lg-8 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 66.66666666666666%;
            flex: 0 0 66.66666666666666%;
    }

    .grid__col--lg-offset-8 {
        margin-left: 66.66666666666666%;
    }

    .grid__col--lg-9 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 75%;
            flex: 0 0 75%;
    }

    .grid__col--lg-offset-9 {
        margin-left: 75%;
    }

    .grid__col--lg-10 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 83.33333333333334%;
            flex: 0 0 83.33333333333334%;
    }

    .grid__col--lg-offset-10 {
        margin-left: 83.33333333333334%;
    }

    .grid__col--lg-11 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 91.66666666666666%;
            flex: 0 0 91.66666666666666%;
    }

    .grid__col--lg-offset-11 {
        margin-left: 91.66666666666666%;
    }

    .grid__col--lg-12 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    }


    /*----------  Grid Row Ordering  ----------*/

    .grid--lg-reverse {
            flex-direction: column-reverse;

        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
    }

    .grid__row--lg-order-1 {
        -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
        order: 1;
    }

    .grid__row--lg-order-2 {
        -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
        order: 2;
    }

    .grid__row--lg-order-3 {
        -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
        order: 3;
    }

    .grid__row--lg-order-4 {
        -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
        order: 4;
    }

    .grid__row--lg-order-5 {
        -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
        order: 5;
    }

    .grid__row--lg-order-6 {
        -webkit-box-ordinal-group: 7;
        -ms-flex-order: 6;
        order: 6;
    }

    .grid__row--lg-order-7 {
        -webkit-box-ordinal-group: 8;
        -ms-flex-order: 7;
        order: 7;
    }

    .grid__row--lg-order-8 {
        -webkit-box-ordinal-group: 9;
        -ms-flex-order: 8;
        order: 8;
    }

    .grid__row--lg-order-9 {
        -webkit-box-ordinal-group: 10;
        -ms-flex-order: 9;
        order: 9;
    }

    .grid__row--lg-order-10 {
        -webkit-box-ordinal-group: 11;
        -ms-flex-order: 10;
        order: 10;
    }

    .grid__row--lg-order-11 {
        -webkit-box-ordinal-group: 12;
        -ms-flex-order: 11;
        order: 11;
    }

    .grid__row--lg-order-12 {
        -webkit-box-ordinal-group: 13;
        -ms-flex-order: 12;
        order: 12;
    }


    /*----------  Grid Column Ordering  ----------*/

    .grid__row--lg-reverse {
            flex-direction: row-reverse;

        -webkit-box-orient: horizontal;
        -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
    }

    .grid__col--lg-order-1 {
        -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
        order: 1;
    }

    .grid__col--lg-order-2 {
        -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
        order: 2;
    }

    .grid__col--lg-order-3 {
        -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
        order: 3;
    }

    .grid__col--lg-order-4 {
        -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
        order: 4;
    }

    .grid__col--lg-order-5 {
        -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
        order: 5;
    }

    .grid__col--lg-order-6 {
        -webkit-box-ordinal-group: 7;
        -ms-flex-order: 6;
        order: 6;
    }

    .grid__col--lg-order-7 {
        -webkit-box-ordinal-group: 8;
        -ms-flex-order: 7;
        order: 7;
    }

    .grid__col--lg-order-8 {
        -webkit-box-ordinal-group: 9;
        -ms-flex-order: 8;
        order: 8;
    }

    .grid__col--lg-order-9 {
        -webkit-box-ordinal-group: 10;
        -ms-flex-order: 9;
        order: 9;
    }

    .grid__col--lg-order-10 {
        -webkit-box-ordinal-group: 11;
        -ms-flex-order: 10;
        order: 10;
    }

    .grid__col--lg-order-11 {
        -webkit-box-ordinal-group: 12;
        -ms-flex-order: 11;
        order: 11;
    }

    .grid__col--lg-order-12 {
        -webkit-box-ordinal-group: 13;
        -ms-flex-order: 12;
        order: 12;
    }
}


/*==========================================================================
=            Grid Styles for Xtra Large Screens - 1200px and up            =
==========================================================================*/

@media screen and (min-width:75em) {
    /*----------  Grid Wrapper  ----------*/

    .grid {
        max-width: 1200px;
    }


    /*----------  Grid Column Alignment and Spacing  ----------*/

    .grid__row--xlg-center {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

    .grid__row--xlg-right {
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end;
    }

    .grid__row--xlg-top {
        -webkit-box-align: start;
        -ms-flex-align: start;
        -ms-grid-row-align: flex-start;
        align-items: flex-start;
    }

    .grid__row--xlg-middle {
        -webkit-box-align: center;
        -ms-flex-align: center;
        -ms-grid-row-align: center;
        align-items: center;
    }

    .grid__row--xlg-bottom {
        -webkit-box-align: end;
        -ms-flex-align: end;
        -ms-grid-row-align: flex-end;
        align-items: flex-end;
    }

    .grid__row--xlg-between {
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }

    .grid__row--xlg-around {
        -ms-flex-pack: distribute;
        justify-content: space-around;
    }


    /*----------  Grid Column Widths and Offsets  ----------*/

    .grid__col--xlg-a {
        -webkit-box-flex: 1;
        -ms-flex: 1 0 auto;
            flex: 1 0 auto;
    }

    .grid__col--xlg-1 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 8.333333333333332%;
            flex: 0 0 8.333333333333332%;
    }

    .grid__col--xlg-offset-1 {
        margin-left: 8.333333333333332%;
    }

    .grid__col--xlg-2 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 16.66666666666667%;
            flex: 0 0 16.66666666666667%;
    }

    .grid__col--xlg-offset-2 {
        margin-left: 16.66666666666667%;
    }

    .grid__col--xlg-3 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
    }

    .grid__col--xlg-offset-3 {
        margin-left: 25%;
    }

    .grid__col--xlg-4 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 33.33333333333333%;
            flex: 0 0 33.33333333333333%;
    }

    .grid__col--xlg-offset-4 {
        margin-left: 33.33333333333333%;
    }

    .grid__col--xlg-5 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 41.66666666666667%;
            flex: 0 0 41.66666666666667%;
    }

    .grid__col--xlg-offset-5 {
        margin-left: 41.66666666666667%;
    }

    .grid__col--xlg-6 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    }

    .grid__col--xlg-offset-6 {
        margin-left: 50%;
    }

    .grid__col--xlg-7 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 58.333333333333336%;
            flex: 0 0 58.333333333333336%;
    }

    .grid__col--xlg-offset-7 {
        margin-left: 58.333333333333336%;
    }

    .grid__col--xlg-8 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 66.66666666666666%;
            flex: 0 0 66.66666666666666%;
    }

    .grid__col--xlg-offset-8 {
        margin-left: 66.66666666666666%;
    }

    .grid__col--xlg-9 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 75%;
            flex: 0 0 75%;
    }

    .grid__col--xlg-offset-9 {
        margin-left: 75%;
    }

    .grid__col--xlg-10 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 83.33333333333334%;
            flex: 0 0 83.33333333333334%;
    }

    .grid__col--xlg-offset-10 {
        margin-left: 83.33333333333334%;
    }

    .grid__col--xlg-11 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 91.66666666666666%;
            flex: 0 0 91.66666666666666%;
    }

    .grid__col--xlg-offset-11 {
        margin-left: 91.66666666666666%;
    }

    .grid__col--xlg-12 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    }


    /*----------  Grid Row Ordering  ----------*/

    .grid--xlg-reverse {
            flex-direction: column-reverse;

        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
    }

    .grid__row--xlg-order-1 {
        -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
        order: 1;
    }

    .grid__row--xlg-order-2 {
        -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
        order: 2;
    }

    .grid__row--xlg-order-3 {
        -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
        order: 3;
    }

    .grid__row--xlg-order-4 {
        -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
        order: 4;
    }

    .grid__row--xlg-order-5 {
        -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
        order: 5;
    }

    .grid__row--xlg-order-6 {
        -webkit-box-ordinal-group: 7;
        -ms-flex-order: 6;
        order: 6;
    }

    .grid__row--xlg-order-7 {
        -webkit-box-ordinal-group: 8;
        -ms-flex-order: 7;
        order: 7;
    }

    .grid__row--xlg-order-8 {
        -webkit-box-ordinal-group: 9;
        -ms-flex-order: 8;
        order: 8;
    }

    .grid__row--xlg-order-9 {
        -webkit-box-ordinal-group: 10;
        -ms-flex-order: 9;
        order: 9;
    }

    .grid__row--xlg-order-10 {
        -webkit-box-ordinal-group: 11;
        -ms-flex-order: 10;
        order: 10;
    }

    .grid__row--xlg-order-11 {
        -webkit-box-ordinal-group: 12;
        -ms-flex-order: 11;
        order: 11;
    }

    .grid__row--xlg-order-12 {
        -webkit-box-ordinal-group: 13;
        -ms-flex-order: 12;
        order: 12;
    }


    /*----------  Grid Column Ordering  ----------*/

    .grid__row--xlg-reverse {
            flex-direction: row-reverse;

        -webkit-box-orient: horizontal;
        -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
    }

    .grid__col--xlg-order-1 {
        -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
        order: 1;
    }

    .grid__col--xlg-order-2 {
        -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
        order: 2;
    }

    .grid__col--xlg-order-3 {
        -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
        order: 3;
    }

    .grid__col--xlg-order-4 {
        -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
        order: 4;
    }

    .grid__col--xlg-order-5 {
        -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
        order: 5;
    }

    .grid__col--xlg-order-6 {
        -webkit-box-ordinal-group: 7;
        -ms-flex-order: 6;
        order: 6;
    }

    .grid__col--xlg-order-7 {
        -webkit-box-ordinal-group: 8;
        -ms-flex-order: 7;
        order: 7;
    }

    .grid__col--xlg-order-8 {
        -webkit-box-ordinal-group: 9;
        -ms-flex-order: 8;
        order: 8;
    }

    .grid__col--xlg-order-9 {
        -webkit-box-ordinal-group: 10;
        -ms-flex-order: 9;
        order: 9;
    }

    .grid__col--xlg-order-10 {
        -webkit-box-ordinal-group: 11;
        -ms-flex-order: 10;
        order: 10;
    }

    .grid__col--xlg-order-11 {
        -webkit-box-ordinal-group: 12;
        -ms-flex-order: 11;
        order: 11;
    }

    .grid__col--xlg-order-12 {
        -webkit-box-ordinal-group: 13;
        -ms-flex-order: 12;
        order: 12;
    }
}


/*===================================
=            IE 11 Hacks            =
===================================*/

/*----------  Extra Small Screens  ----------*/
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {

}

/*----------  Small Screens  ----------*/
@media screen and (min-width: 26.5625em) and (-ms-high-contrast: active) and (-ms-high-contrast: none) {
    .grid__col--sm-1 {
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;

            width: 8.333333333333332%;
    }

    .grid__col--sm-2 {
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;

            width: 16.66666666666667%;
    }

    .grid__col--sm-3 {
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;

            width: 25%;
    }

    .grid__col--sm-4 {
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;

            width: 33.33333333333333%;
    }

    .grid__col--sm-5 {
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;

            width: 41.66666666666667%;
    }

    .grid__col--sm-6 {
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;

            width: 50%;
    }

    .grid__col--sm-7 {
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;

            width: 58.333333333333336%;
    }

    .grid__col--sm-8 {
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;

            width: 66.66666666666666%;
    }

    .grid__col--sm-9 {
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;

            width: 75%;
    }

    .grid__col--sm-10 {
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;

            width: 83.33333333333334%;
    }

    .grid__col--sm-11 {
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;

            width: 91.66666666666666%;
    }

    .grid__col--sm-12 {
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;

            width: 100%;
    }
}

/*----------  Medium Screens  ----------*/
@media screen and (min-width: 48em) and (-ms-high-contrast: active) and (-ms-high-contrast: none) {
    .grid__col--md-1 {
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;

            width: 8.333333333333332%;
    }

    .grid__col--md-2 {
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;

            width: 16.66666666666667%;
    }

    .grid__col--md-3 {
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;

            width: 25%;
    }

    .grid__col--md-4 {
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;

            width: 33.33333333333333%;
    }

    .grid__col--md-5 {
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;

            width: 41.66666666666667%;
    }

    .grid__col--md-6 {
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;

            width: 50%;
    }

    .grid__col--md-7 {
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;

            width: 58.333333333333336%;
    }

    .grid__col--md-8 {
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;

            width: 66.66666666666666%;
    }

    .grid__col--md-9 {
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;

            width: 75%;
    }

    .grid__col--md-10 {
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;

            width: 83.33333333333334%;
    }

    .grid__col--md-11 {
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;

            width: 91.66666666666666%;
    }

    .grid__col--md-12 {
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;

            width: 100%;
    }
}

/*----------  Large Screens  ----------*/

@media screen and (min-width:64em) and (-ms-high-contrast: active) and (-ms-high-contrast: none) {
    .grid__col--lg-1 {
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;

            width: 8.333333333333332%;
    }

    .grid__col--lg-2 {
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;

            width: 16.66666666666667%;
    }

    .grid__col--lg-3 {
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;

            width: 25%;
    }

    .grid__col--lg-4 {
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;

            width: 33.33333333333333%;
    }

    .grid__col--lg-5 {
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;

            width: 41.66666666666667%;
    }

    .grid__col--lg-6 {
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;

            width: 50%;
    }

    .grid__col--lg-7 {
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;

            width: 58.333333333333336%;
    }

    .grid__col--lg-8 {
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;

            width: 66.66666666666666%;
    }

    .grid__col--lg-9 {
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;

            width: 75%;
    }

    .grid__col--lg-10 {
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;

            width: 83.33333333333334%;
    }

    .grid__col--lg-11 {
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;

            width: 91.66666666666666%;
    }

    .grid__col--lg-12 {
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;

            width: 100%;
    }
}