/*=================================================================================
=            Visibility Styles for Extra Small Screens - 320px and Up.            =
=================================================================================*/

.visible {
    display: block !important;
}

.visible--inl {
    display: inline !important;
}

.visible--inlbk {
    display: inline-block !important;
}

.hidden {
    display: none !important;
}

/*----------  Visually hide from screen but not from screen readers.  ----------*/

.visually-hidden {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
}


/*==========================================================================
=            Visibility Styles for Small Screens - 425px and up            =
==========================================================================*/

@media screen and (min-width:26.5625em) {
    .visible--sm {
        display: block !important;
    }

    .visible--sm-inl {
        display: inline !important;
    }

    .visible--sm-inlbk {
        display: inline-block !important;
    }

    .hidden--sm {
        display: none !important;
    }

}


/*===========================================================================
=            Visibility Styles for Medium Screens - 768px and up            =
===========================================================================*/

@media screen and (min-width:48em) {
    .hidden-md {
        display: none !important;
    }

    .visible-md {
        display: block !important;
    }

    .visible--md-inl {
        display: inline !important;
    }

    .visible--md-inlbk {
        display: inline-block !important;
    }

}


/*===========================================================================
=            Visibility Styles for Large screens - 1024px and up            =
===========================================================================*/

@media screen and (min-width:64em) {
    .hidden-lg {
        display: none !important;
    }

    .visible-lg {
        display: block !important;
    }

    .visible--lg-inl {
        display: inline !important;
    }

    .visible--lg-inlbk {
        display: inline-block !important;
    }
}


/*=================================================================================
=            Visibility Styles for Extra Large Screens - 1200px and up            =
=================================================================================*/

@media screen and (min-width:75em) {
    .hidden-xlg {
        display: none !important;
    }

    .visible-xlg {
        display: block !important;
    }

    .visible--xlg-inl {
        display: inline !important;
    }

    .visible--xlg-inlbk {
        display: inline-block !important;
    }
}